.form {
    background-color: #D52027;
    height: 320px;  
}

.form .container {
    /* border:1px solid red; */
    margin:0 auto;
    width: 1200px;  
}

.form form {
    width: 510px;
    height: 350px;
    margin-left: 600px;
    margin-top: -470px;
    
}

.form form input {
   width: 500px;
   height: 64px;
    margin-bottom: 10px;
    border: 1px solid #f6f6f6;
    border-radius: 5px;
}

.form form input[type="submit"] {
    width: 507px;
    height: 74px;
    background-color: #141024;
    color: white;
    border:none;
}

.form form input::placeholder {
    padding-left: 20px;
}

.stock {
    color:white;
    font-family: "Jost";
    width: 400px;
    height: 200px;
    margin-left: 40px;
    margin-bottom: 250px;
}

.stock h1 {
    font-size: 36px;
    font-weight: 600;
    line-height: 46.80px;
}

.stock p {
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
}

.form .img1 img {
    width: 100%;
    margin-top:-60px;  
}





