body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Jost;
}

header {
    background-color: #141024;
    /* height: 695px; */
    border: 1px solid greenyellow;
}

.container {
    width: 1200px;
    margin: 0 auto;
    border: 2px solid red;
    position: relative;
}

/* header,
section,
footer {
    padding: 120px 0;
} */

.header-menu {
    border: 1px solid red;
    padding: 0px;
}

.header-nav {
    padding: 0px;
}

header .header-nav {
    display: inline-block;
    border: 1px solid red;
    margin-left: 150px;
    width: 360px;
}

header .logotext h1 {
    color: white;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    margin-bottom: 28px;
}




header .header-menu .header-contact {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    border: 1px solid red;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 30px;
}

header .header-menu .header-contact:last-child {
    margin-left: 130px;

}

header .header-menu .header-nav>li {
    display: inline-block; 
    margin-left: 40px;
    border: 1px solid red;
}

header .header-menu .header-nav li>a {
    list-style: none;
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

header .header-menu .header-nav li:first-child {
    margin-left: 0px;
    padding: 0;
}

.btn {
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    background-color: #D52027;
    display: inline-block;
    padding: 25px 54px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.logotext {
    border: 1px solid red;
    margin-right: 28px;
    width: 516px;
    margin-top: 100px;
    margin-bottom: 140px;
    margin-left: 100px;
}

.logotext p {
    color: #FFF;
    font-family: Jost;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 478px;
    margin-bottom: 50px;
    margin-top: 20px;
}

.imgbox {
    display: inline-block;
    width: 400px;
    height: 518px;
    background-size: cover;
    position: absolute;
    text-align: center;
    left: 662px;
    top: 199px;
    z-index: 2;
    box-sizing: border-box;
}

.imgbox img {
    max-width: 100%;
    max-height: 100%;
}

.circle {
    width: 400px;
    height:400px;
    border: 50px solid white;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    display: inline-block;
    left: 613px;
    bottom: 0px;
}

.testbox {
    width: 600px;
    height: 600px;
    border: 2px solid green;
}